<div>
    This is the dashboard {{user.name}}
     <a href='auth/logout'><p>logout<p> </a>

     <table class="table table-hover">
         <caption>ADMINISTRSTOR</caption>
        <thead>
            <tr>
                <th>User Email / Provider Dispaly Name</th>
                <th>Name</th>
                <th>Provider</th>
                <th>Description</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <!-- isCurrent(user) ? !isAdmin(user) : isAdmin(user) -->
            <tr ng-repeat="user in users | filter : {admin : true}" >
                <td ng-hide='isCurrent(user)'>{{user.username}}</td>
                <td ng-hide='isCurrent(user)'>{{user.name}}</td>
                <td ng-hide='isCurrent(user)'>{{user.provider}}</td>
                <td ng-hide='isCurrent(user)'>{{user.description}}</td>
                <td ng-hide='isCurrent(user)'>
                    <md-button class="md-fab md-mini md-primary" ng-click='editProfile(user.username)'>
                            <md-tooltip md-visible="demo.showTooltip" md-direction="{{demo.tipDirection}}">
                                        {{user.username}} Profile
                            </md-tooltip>
                            <i class="fa fa-user"></i>
                    </md-button>
                    <md-button ng-show='user.admin' ng-click='changePermission(user)' class="md-raised custombtn">Make User</md-button>
                    <md-button ng-hide='user.admin' ng-click='changePermission(user)' class="md-raised md-primary custombtn">Make Admin</md-button>
                    <md-button ng-click='deleteUser(user)' class="md-raised md-warn">Delete</md-button>
                </td>

            </tr>
        </tbody>
    </table>

    <table class="table table-hover">
        <caption>USER</caption>
       <thead>
           <tr>
               <th>User Email / Provider Dispaly Name</th>
               <th>Name</th>
               <th>Provider</th>
               <th>Description</th>
               <th>Edit</th>
           </tr>
       </thead>
       <tbody>
           <!-- isCurrent(user) ? !isAdmin(user) : isAdmin(user) -->
           <tr ng-repeat="user in users | filter : {admin : false}" >
               <td ng-hide='isCurrent(user)'>{{user.username}}</td>
               <td ng-hide='isCurrent(user)'>{{user.name}}</td>
               <td ng-hide='isCurrent(user)'>{{user.provider}}</td>
               <td ng-hide='isCurrent(user)'>{{user.description}}</td>
               <td ng-hide='isCurrent(user)'>
                   <md-button class="md-fab md-mini md-primary" ng-click='editProfile(user.username)'>
                           <md-tooltip md-visible="demo.showTooltip"  md-direction="{{demo.tipDirection}}">
                                       {{user.username}} Profile
                           </md-tooltip>
                           <i class="fa fa-user"></i>
                   </md-button>
                   <md-button ng-show='user.admin' ng-click='changePermission(user)' class="md-raised custombtn">Make User</md-button>
                   <md-button ng-hide='user.admin' ng-disabled="user.provider !== 'local'" ng-click='changePermission(user)' class="md-raised md-primary custombtn">Make Admin</md-button>
                   <md-button ng-click='deleteUser(user)' class="md-raised md-warn">Delete</md-button>
               </td>

           </tr>
       </tbody>
   </table>

</div>
