<h1>My Profile
<md-button class="md-raised md-primary pull-right" href="#/editprofile">
    <md-tooltip>
        Edit Profile
    </md-tooltip>
    <i class="fa fa-cog"></i>
</md-button>
</h1>
<h3>Username: {{username}}</h3>
<h3>Name: {{name}}</h3>
<br>
<h5>{{description}}<h5>

<br>
<h2>My Events</h2>

<div class="col-md-4" ng-repeat="event in events">
    <div class="thumbnail">
        <div class="caption-full">
            <h4 class="pull-right">{{costName(event.cost)}}
            </h4>
            <h4><a ng-href="#/event/{{event._id}}">{{event.name}}</a></h4>
            <h6>{{event.date.substring(0,10)}}</h6>
        </div>
        <div class="ratings">
            <p class="pull-right"><a ng-href="#/event/{{event._id}}">{{event.attendance.length}} attending</a></p>
            <p>
                {{event.likes}} likes
            </p>
        </div>
    </div>
</div>