<md-dialog aria-label="List dialog">
    <md-dialog-content>
        <md-input-container>
            <label>Send To</label>
            <input ng-model="receiver" required name="receiver">
            <div ng-messages="receiver.$error">
                <div id="dialogErr">Please enter a recipient.</div>
            </div>
        </md-input-container>
        <br>
        <md-input-container>
            <label>Body</label>
            <textarea ng-model="content" columns="5" rows="10" required name="content"></textarea>
                <div ng-messages="content.$error">
                    <div id="dialogErr">Please enter a message.</div>
                </div>
            </md-input-container>
    </md-dialog-content>

    <md-dialog-actions> 
    <md-button ng-click="send()" class="md-primary">Send</md-button> 
    <md-button ng-click="cancel()" class="md-primary">Cancel</md-button> 
    </md-dialog-actions> 
</md-dialog>