<md-dialog aria-label="List dialog">
    <md-dialog-content>
    	<h1>Message</h1>
		<md-input-container>
     		<label>Send To</label>
      		<input ng-model="receiver" required name="receiver">
	      	<div ng-messages="receiver.$error">
	          	<div id="dialogErr">This is required.</div>
	        </div>
    	</md-input-container>
    	<br>
    	<md-input-container>
     		<label>Message Body</label>
      		<textarea ng-model="content" columns="5" md-maxlength="150" maxlength="150" rows="10" required name="content"></textarea>
      		<div ng-messages="content.$error">
	          	<div id="dialogErr">This is required.</div>
	        </div>
    	</md-input-container>
 	</md-dialog-content>

	<md-dialog-actions> 
    	<md-button ng-click="cancel()" class="md-primary"> 
      		Cancel
    	</md-button> 
    	<md-button ng-click="send()" class="md-primary"> 
      		Send
    	</md-button> 
 	</md-dialog-actions> 
</md-dialog>