<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Games:</p>
            <div class="list-group">
                <a href="#/game/leagueoflegends" class="list-group-item">League of Legends</a>
                <a href="#/game/dota2" class="list-group-item">DOTA 2</a>
                <a href="#/game/hearthstone" class="list-group-item">Hearthstone</a>
                <a href="#/events" class="list-group-item">All Games</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="http://i.imgur.com/qO6cDtO.png" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">{{cost}} 
                    <a class="btn btn-primary">Remove Myself</a>
                    </h4>
                    <h4><a href="#">{{name}}</a></h4>
                    <p>{{description}}</p>
                </div>
                <div class="ratings">
                    <p>
                        <button type="button" class="btn btn-default btn-sm" ng-click="like()">
                            <i class="fa fa-thumbs-o-up"></i> 
                            {{likeText}}
                        </button>
                        {{likes}} likes
                    </p>
                </div>
            </div>

            <div class="well">
                <h4>Attendees</h4>
                <a href="#" ng-repeat="user in attendance">
                    <img src="http://i.imgur.com/ZVTXtFJ.png" width="40" height="40" class="img-circle"/>
                    {{user}}
                </a>
            </div>

            <div class="well">
                <div class="text-left">
                    <textarea id="comment" class="form-control" rows="5" ng-model="inputComment"></textarea>
                </div>
                <div class="text-right">
                    <br><a class="btn btn-success" ng-click="comment()">Leave a comment</a>
                </div>

                <div class="row" ng-repeat="comment in comments">
                    <hr>
                    <div class="col-md-12">
                        <h4>{{comment.username}}</h4>
                        <span class="pull-right">-1 days ago</span>
                        <p>{{comment.comment}}</p>
                    </div>
                </div>

                <hr>
            </div>

        </div>



    </div>
</div>