<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Games:</p>
            <div class="list-group">
                <a href="#/game/leagueoflegends" class="list-group-item">League of Legends</a>
                <a href="#/game/dota2" class="list-group-item">DOTA 2</a>
                <a href="#/game/hearthstone" class="list-group-item">Hearthstone</a>
                <a href="#/events" class="list-group-item">All Games</a>
            </div>
        </div>

        <div class="col-md-9">
            <div ng-repeat="event in allEvents">
                <div class="thumbnail">
                    <a ng-href="#/event/{{event._id}}"><img class="img-responsive" src="http://i.imgur.com/qO6cDtO.png" alt=""></a>
                    <div class="caption-full">
                        <h4 class="pull-right">${{event.cost}}
                            <a class="btn btn-primary">Remove Myself</a>
                        </h4>
                        <h4><a ng-href="#/event/{{event._id}}">{{event.name}}</a></h4>
                        <p>{{event.description}}</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <button type="button" class="btn btn-default btn-sm" ng-click="like()">
                                <i class="fa fa-thumbs-o-up"></i> 
                                {{event.likeText}}
                            </button>
                            {{event.likes}} likes
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>