<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Games:</p>
            <div class="list-group">
                <a href="#/events/lol" class="list-group-item">League of Legends</a>
                <a href="#/events/dota2" class="list-group-item">DOTA 2</a>
                <a href="#/events/csgo" class="list-group-item">CS:GO</a>
                <a href="#/events/hearthstone" class="list-group-item">Hearthstone</a>
                <a href="#/events/all" class="list-group-item">All Games</a>
            </div>
        </div>

        <div class="col-md-9">
            <div ng-repeat="event in allEvents">
                <div class="thumbnail">
                    <a ng-href="#/event/{{event._id}}"><img class="img-responsive" src="http://i.imgur.com/qO6cDtO.png"></a>
                    <div class="caption-full">
                        <h4 class="pull-right">{{costName(event.cost)}}
                            <a class="btn btn-primary" ng-click="eventClick(event)">{{buttonName(event)}}</a>
                        </h4>
                        <h4><a ng-href="#/event/{{event._id}}">{{event.name}}</a></h4>
                        <h6>{{event.date.substring(0,10)}}</h6>
                        <p>{{event.description}}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right"><a ng-href="#/event/{{event._id}}">{{event.comments.length}} comments</a></p>
                        <p>
                            <button type="button" class="btn btn-default btn-sm" ng-click="like(event)">
                                <i class="fa fa-thumbs-o-up"></i> 
                                {{likeText(event)}}
                            </button>
                            {{event.likes}} likes
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>