<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Games:</p>
            <div class="list-group">
                <a href="#/events/lol" class="list-group-item">League of Legends</a>
                <a href="#/events/dota2" class="list-group-item">DOTA 2</a>
                <a href="#/events/csgo" class="list-group-item">CS:GO</a>
                <a href="#/events/hearthstone" class="list-group-item">Hearthstone</a>
                <a href="#/events/all" class="list-group-item">All Games</a>
            </div>
        </div>

        <div class="col-md-9">
            <h1>E-Vent of the Day</h1>
            <div class="thumbnail">
                <img class="img-responsive" src="http://i.imgur.com/qO6cDtO.png" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">FREE <a class="btn btn-primary">SIGN UP</a></h4>
                    <h4><a href="#">League of Legends LAN Tournament</a></h4>
                    <p>Date</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">2 comments</p>
                    <p>
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fa fa-thumbs-o-up"></i> 
                            Like
                        </button>
                        10 likes
                    </p>
                </div>
            </div>

        </div>

    </div>

</div>