.navbar {
	margin-top: 20px;
	font-size: 20px;
}
.navbar a:hover {
	cursor: pointer;
	background-color: grey;
	text-decoration: none;
}

li:hover {
	cursor: pointer;
	background-color: grey;
	text-decoration: none;
}

tr:hover {
	cursor: pointer;
}

thead tr:hover {
	cursor: text;
}

h1 {
	margin-bottom: 40px;
}

.control-label{
	font-size: 20px;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

label {
	font-size: 20px;
}

textarea {
	resize:none;
	height: 200px;
	width: 4em;
}

.navbar-brand {
	font-style: bold;
	font-size: 2em;
}